<!DOCTYPE html>
<html>
<link type='text/css' rel='stylesheet' href='/stylesheets/main.css'>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='http://code.highcharts.com/highcharts.js'></script>
<script src='/javascript/jquery.csv.js'></script>
<script src='/javascript/statistic_parser.js'></script>
<script src='/javascript/moment.js'></script>
<script src='/javascript/charts/stacked.js'></script>
<script src='/javascript/charts/timeline.js'></script>
<script src='/javascript/main.js'></script>
<body>
<div id='stack-chart'></div>
<div id='timeline'></div>
</body>
</html>